@page "/Edit"

@model SPweb.Pages.clients.EditModel
@{
}

@* @if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert fade show" role="alert" style="display:flex; justify-content:space-between">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
} *@
<h1>Edit Products</h1>
@* <form style="width:40%; margin:0px auto" method="post">
    <input type="hidden" name="quantity" value="@Model.p_info.product_quantity" />
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Add Date</label>
        <input type="date" name="date" class="form-control" id="exampleInputEmail1" aria-describedby="NameHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Category</label>
        <input type="text" name="category" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Model</label>
        <input type="text" name="model" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Quantity</label>
        <input type="text" name="quantity" class="form-control" id="">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input type="text" name="price" class="form-control" id="">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> *@